*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App {
  display: flex;
  justify-content: center;
  background-image: url("./pictures/partition.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

.blocGames{
  width: 60%;
  height: 40vh;
  margin: auto;
  text-align: center;
  position: relative;
}

.blocNumber{
  background-color: #f3f4f4;
  width: 100%;
  padding: 40px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

}

.blocNumber h1{
  width: 100%;
  margin-bottom: 50px;
  color: #423f3f;
  text-align: center;
}


.blocNumber input, .blocNumber button {
  padding: 10px;
  border-radius: 25px;
  border: 2px solid #423f3f;
  color: #423f3f;
  background-color: #fff;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
}

.blocParoles{
  background-color: #f3f4f4;
  width: 100%;
  padding: 40px;
  font-size: 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  animation-name: anim;
  animation-duration: 3s;
  display: none;

}

@keyframes anim {
  from {opacity: 0;}
  to {opacity: 1;}
}

.body {
  width: 70%;
  height: 90%;
  background: #000;
  overflow: hidden;
  margin: auto;
}

audio{
  position: absolute;
  top: 430px;
  width: 230px;
  height: 40px;
}

